html {
  overflow-y: scroll;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button.disabled {
  filter: grayscale(1);
  pointer-events: none;
  opacity: 0.5;
}
